<div class="container">
    <div *ngIf="flag">
      <p>{{loadSate}}</p>
      <div  class="progress text-left">
        <div class="progress-bar progress-bar-warning progress-bar-striped active" [style.width] = "mwidth" >
        </div>
        &nbsp;{{mwidth}}
      </div>
    </div>
    <div *ngIf="!flag && !fl" class="row">
      <div *ngFor="let im of images" class="col-sm-3">
        <a (click)="onclick(im.src)"  class="thumbnail cors" >
          <img class="img-responsive sm" [src]="im.src" />
        </a>
      </div>
    </div>
    <div *ngIf="fl"  [style.marginTop]="margin">
      <a (click)="onclick()" class="thumbnail shaw" >
        <img class="img-responsive lg" [src]="img"  [style.height]="height" />
      </a>
    </div>
</div>
