.navbar-default{
  box-shadow: 0 2px 6px #888;
  transition: background-color 1s ease;
}

.navbar-brand img {
  float: left;
  margin: -10px 10px 0 0;
  border-radius: 100%;
}

.text-center:hover{
  border-bottom: 2px solid blue;
}

.mtitle {
  transition: background-color 1s ease;
  background-color: transparent;
  border-bottom-color: red;
  box-shadow: 0 0 0 transparent;
}

.mtitle a, .mtitle .navbar-header {
  color: #AAA;
  background-color: transparent;
}

.mtitle a:hover{
  color: #FFF;
  background-color: transparent;
}
