<gl-jumb></gl-jumb>
<div class="container">
    <div  *ngFor = "let main of mains; let i = index;" class="row">
        <div class="col-sm-4" *ngIf="i%2==0">
            <img class="img-responsive img-thumbnail" [src]="main.imgurl" alt="..." />
        </div>
        <div class="col-sm-8">
            <h3 class="media-heading">{{main.title}} <span class="badge">{{main.badge}}</span></h3>
            <p>{{main.content}}</p>
        </div>
        <div class="col-sm-4" *ngIf="i%2==1">
            <img class="img-responsive img-thumbnail" [src]="main.imgurl" alt="..." />
        </div>
    </div>
</div>
