<div class="bgimg">
	<div>
		<h2>飞船打太空石&lt;javascript&gt;</h2>
		<canvas id="myCanvas" width="800" height="600"></canvas>
		<h4>方向键(←↑→):控制飞船前进转向，空格键发子弹。<br /><br />
				IE9+测试过，firefox不知为何有的mp3声音格式支持，有的不支持。<br /><br />
				此游戏是www.coursera.org里莱斯大学An Introduction to Interactive
				Programming in Python (Part 2) 中的最后一道作业题。<br /><br/><br /><br />
				<span>闲来无事，现改用js实现，欢迎js爱好者测试讨论，共同进步。图片、声音
				资源来自莱斯大学，根据学python时当时声明，图片、声音资源仅供学习用。<br /><br />
				如有问题，请联系：<br />
				QQ:380177713<br />邮箱:scmsgl@163.com
				</span>
			</h4>
	</div>
</div>
