div.bgimg{
  width: auto;
  margin-top: -40px;
  padding-top: 40px;
  background: url(/public/images/back2.png) ;
}

div {
    width: 1000px;
    margin: 14px auto;
    padding: 10px 10px 30px;
    background: #CCC;
}

#myCanvas {
    border: 2px solid royalblue;
    box-shadow: 2px 4px 2px #444;
}

h2 {
    margin: 8px 260px;
    font-size: 24px;
    color: blue;
}

h4 {
    width: 166px;
    float: right;
    font-family: "宋体";
    font-size: 14px;
    line-height: 22px;
}

span {
    color: green;
}
