.jumbotron{
  padding: 0;
  margin-top: -20px;
  position: relative;
  background-color: #FFF;
  background:  url(/public/video/mov.png) no-repeat;
  background-size: 100%;
}

.front{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  background-color:  #000;
  opacity: 0.8;
}

.text-top{
  display: inline-block;
  margin-top: 30%;
  padding: 20px 10px;
  text-align: center;
  border: 2px solid #AAA;
  border-radius: 100%;
  font-size: 60px;
  color: #AAA;
  line-height: 60px;
  cursor: pointer;
}

.text-top:hover{
  border: 2px solid blue;
  color: #FFF;
}
